<div>
    <h3 class="inline">{{ksDay.dayOptions.tableHeader}}</h3>
    <span ng-if="ksDay.modeOptions.length > 1" ng-repeat="mode in ksDay.modeOptions">
        <input id="ks-rb-{{mode}}" type="radio" ng-model="ksDay.mode" value={{mode}}>
        <label for="ks-rb-{{mode}}" class="ks-label-{{mode}}"> {{mode}} </label>
    </span>

</div>
<div class="flex-container">
    <button class="flex-item ks-arrow-button" ng-click="ksDay.move(-1)"><span class="glyphicon glyphicon-menu-left"></span></button>

    <table class="flex-item" ng-repeat="month in ksDay.months track by $index">
        <thead>
        <tr>
            <th class="ks-day-title" colspan="7">{{month.title}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="ks-day-weeks" ng-repeat="dayName in ksDay.DAY_NAMES">{{dayName}}</td>
        </tr>
        <tr ng-repeat="week in month.weeks track by $index" role="row">
            <td ng-repeat="day in week" role="gridcell"
                id="{{day.uid}}">
                <button type="button"
                        data-test="{{day.uid}}"
                        ng-class="day.customClass"
                        ng-click="ksDay.select(day)"
                        ng-disabled="day.disabled">
                    {{day.label}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="flex-item ks-arrow-button" ng-click="ksDay.move(1)"><span class="glyphicon glyphicon-menu-right"></span></button>
</div>