.flex-container {
    padding: 0;
    margin: 0 0 12px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

.flex-item {
    margin: 10px;
}

ks-datepicker button, ks-datepicker submit {
    border: none;
    padding: 10px;
    margin: 1px;
    width: 40px;
    text-align: center;
    background-color: #e3e3e3;
}

ks-datepicker button:focus {
    outline: 0;
}

ks-datepicker button:disabled {
    background-color: #eeeeee;
}

ks-datepicker .ks-day-weeks {
    text-align: center;
}

ks-datepicker .ks-day-title {
    text-align: center;
}

ks-datepicker .ks-arrow-button {
    margin-top: 135px;
    height: 40px;
    border-radius: 100%;
}

ks-datepicker .ks-selected-date {
    background-color: #147FC2;
    color: #fff;
}

ks-datepicker .ks-secondary-date {
    background-color: #FF0000;
    color: #fff;
    transition: background-color 0.2s ease-in;
}

ks-datepicker label {
    color: #fff;
    font-weight: 400;
    padding: 1px 10px;
    border-radius: 2px;
}

ks-datepicker label.ks-label-range {
    background-color: #147FC2;
}

ks-datepicker label.ks-label-secondary {
    background-color: #FF0000;
}

ks-datepicker label.ks-label-multi-select {
    background-color: #777777;
}

ks-datepicker input[type=radio] {
    margin-left: 10px;
}